## Ingestão de arquivo CSV com pedidos da pizzaria no PostgreSQL    
<br/>

* **Tabela destino:** maven_pizza.raw_pizza_orders
* **Recorrência:** todos os dias às 3AM BRT.
* **Utilizado em:** dashboard de análise de vendas de pizza [(link aqui)](https://www.google.com).

In [1]:
import pandas as pd
import psycopg2
import json
from sqlalchemy import create_engine

# carregar arquivo json com as credenciais do banco de dados
db_credentials_file = open('psql.json')
db_credentials      = json.load(db_credentials_file)

# ler os detalhes de conexão
db_host     = db_credentials['db_host']
db_port     = db_credentials['db_port']
db_name     = db_credentials['db_name']
db_user     = db_credentials['db_user']
db_password = db_credentials['db_password']

# criar a engine para rodar os comandos
db_engine = create_engine('postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'.format(
      db_host     = db_host     
    , db_port     = db_port     
    , db_name     = db_name     
    , db_user     = db_user     
    , db_password = db_password 
))

In [2]:
# ler arquivo csv a ser inserido
raw_pizza_orders_path = "raw_pizza_orders.csv"
df_raw_pizza_orders = pd.read_csv(raw_pizza_orders_path, sep = ";")
df_raw_pizza_orders.iloc[0:5]

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,01/01/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,01/01/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,01/01/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,01/01/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,01/01/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [3]:
# criar uma tabela no banco chamada "raw_pizza_orders" utilizando o arquivo csv
df_raw_pizza_orders.to_sql(name = 'raw_pizza_orders', con = db_engine, if_exists = 'replace', index = False)